@import url('keyframes.css');

body{
    margin: 0;
    padding: 0;
    background-color: #c5c5c5;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

.wrapper{
    margin: 0 auto;
    width:1000px;
    min-width: 1000px;
    overflow: visible;
}

header {
    position: relative;
}

#headerimg{
    background-color: #fff;
    position: relative;
    top:0;
    left:-50%;
}

.container {
    position: relative;
    top: -595px;
}

.head {
    position: relative;
    top: 0;
    max-height: 90px;
}

.bgnavimg {
    position: relative;
    top: 0;
    left: -35px;
    width: 1060px;
    height: 110px;
}

.logo {
    position: relative;
    top: -87px;
    left: 18px;
    width: 301px;
    height: 50px;
}

.head address{
    position: relative;
    top: -150px;
    left: 800px;
    width: 190px;
    color: #F0047F;
    font-weight: bold;
    font-size: 20px;
    font-style: normal;
}

.head address:before {
    content: url(../img/handset.png);
    margin: 0 3px 0 0;
}

.head nav {
    position: relative;
    top: -150px;
    left: 310px;
    width: 680px;
}

.head nav ul {
    list-style-type: none;
    padding: 0 0 0 30px;
}

.head nav ul li {
    display: inline;
    text-transform: uppercase;
    color: #5b5959;
    font-size: 13px;
    margin: 0 15px 0 0;
}

.head nav ul li:last-child{
    margin: 0;
}

.head nav ul li a{
    text-decoration: none;
    color: #5b5959;
}


/*START styles for animated section in the header*/

.work_team {
    display: block;
    position: absolute;
    left: 149px;
    top: 152px;
    background-color: transparent;
    width: 638px;
    height: 300px;
}

.people{
    position: relative;
    background: rgba(0, 0, 0, 0) url("../img/work_team/people.png") no-repeat scroll 0 0 / contain;
    background-size: contain;
    width: 638px;
    height: 300px;
    z-index: 100;
}

.hand_with_coffee{
    position: relative;
    top: -200px;
    left: 85px;
    background: rgba(0, 0, 0, 0) url("../img/work_team/hand_with_coffee.png") no-repeat scroll 0 0;
    width: 43px;
    height: 65px;
    z-index: 5;
    animation: hand_with_coffee 28s ease infinite;
    transform-origin: 8px 55px 0;
    animation-delay: 0s;
}

.some_very_important_document{
    position: relative;
    top: -279px;
    left: 129px;
    background: rgba(0, 0, 0, 0) url("../img/work_team/some_very_important_document.png") no-repeat scroll 0 0;
    width: 41px;
    height: 36px;
    z-index: 3;
    animation: some_very_important_document 15s ease infinite;
    animation-delay: 5s;
}

.rufous_head{
    position: relative;
    top: -431px;
    left: 196px;
    background: rgba(0, 0, 0, 0) url("../img/work_team/rufous_head.png") no-repeat scroll 0 0;
    width: 45px;
    height: 53px;
    animation: rufous_head 19s ease infinite;
    animation-delay: 2s;
}

.right_green_hand{
    position: relative;
    top: -349px;
    left: 226px;
    background: rgba(0, 0, 0, 0) url("../img/work_team/right_green_hand.png") no-repeat scroll 0 0;
    width: 20px;
    height: 68px;
    transform-origin: 0 0 0;
    animation: right_green_hand 5s ease infinite;
}

.left_green_hand{
    position: relative;
    top: -415px;
    left: 300px;
    background: rgba(0, 0, 0, 0) url("../img/work_team/left_green_hand.png") no-repeat scroll 0 0;
    width: 22px;
    height: 71px;
    z-index: 11;
    transform: rotateX(19deg);
    transform-origin: 0 0 0;
    animation: left_green_hand 4s ease infinite;
}

.girl_right_hand{
    position: relative;
    top: -533px;
    left: 298px;
    background: rgba(0, 0, 0, 0) url("../img/work_team/girl_right_hand.png") no-repeat scroll 0 0;
    width: 34px;
    height: 59px;
    z-index: 9;
    transform-origin: 32px 8px -4px;
    animation: girl_right_hand 9s ease infinite;
    animation-delay: 0s;
}

.right_red_hand{
    position: relative;
    top: -549px;
    left: 406px;
    background: rgba(0, 0, 0, 0) url("../img/work_team/right_red_hand.png") no-repeat scroll 0 0;
    width: 20px;
    height: 67px;
    transform: rotate(3deg);
    transform-origin: 13px 3px 0px;
    animation: right_red_hand 12s ease infinite;
    animation-delay: 0s;
}

.blue_head{
    position: relative;
    top: -654px;
    left: 439px;
    background: rgba(0, 0, 0, 0) url("../img/work_team/blue_head.png") no-repeat scroll 0 0;
    width: 46px;
    height: 46px;
    z-index: 166;
    transform-origin: 13px 25px 0;
    animation: blue_head 9s ease infinite;
    animation-delay: 0s;
}

.first_hand_right_programmer{
    position: relative;
    top: -614px;
    left: 530px;
    background: rgba(0, 0, 0, 0) url("../img/work_team/hand_right_programmer.png") no-repeat scroll 0 0;
    width:62px;
    height: 13px;
    transform: rotate(0deg) rotateY(4deg);
    transform-origin: 62px -9px 0;
    animation: first_hand_right_programmer 5s linear infinite;
    animation-delay: 0s;
}

.second_hand_right_programmer{
    position: relative;
    top: -627px;
    left: 526px;
    background: rgba(0, 0, 0, 0) url("../img/work_team/hand_right_programmer.png") no-repeat scroll 0 0;
    width:62px;
    height: 13px;
    transform: rotate(0deg) rotateY(4deg);
    transform-origin: 62px -9px 0;
    animation: second_hand_right_programmer 6s linear infinite;
    animation-delay: 0s;
}

.leg{
    position: relative;
    top: -595px;
    left: 547px;
    background: rgba(0, 0, 0, 0) url("../img/work_team/leg.png") no-repeat scroll 0 0;
    width: 54px;
    height: 95px;
    /*animation: hand_with_coffee 4s ease infinite;*/
    /*animation-delay: 0s;*/
}

/*END styles for animated section in the header*/
